In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd
dataFrame = pd.read_csv("spamDataset.csv")
dataFrame.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
dataFrame.groupby("class").describe()

      message
        count unique                                                top freq
class
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [12]:
dataFrame['spam']=dataFrame['class'].apply(lambda x:1 if x=='spam' else 0)
dataFrame.head()

  class                                            message  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [34]:
x_train,x_test,y_train,y_test = train_test_split(dataFrame.message,dataFrame.spam, test_size=0.20)
print(type(y_train))

<class 'pandas.core.series.Series'>

converting msg into number using count vectorizer technique

In [17]:
vector = CountVectorizer()
x_train_count = vector.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [16]:
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [18]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

predicting the spam or not

In [21]:
emails=['Hey Ragahav please verify this document',
        'Upto 20% discount on parking, only for you. Dont miss the chance ']
emails_count=vector.transform(emails)
model.predict(emails_count)

array([0, 1])

Measuring the accruacy

In [23]:
x_test_count = vector.transform(x_test)
model.score(x_test_count,y_test)

0.9874439461883409

Creating a pipeline for Transforming text into number and traing the data

In [24]:
from sklearn.pipeline import Pipeline
classifier = Pipeline([('vectorizer',CountVectorizer()),
                       ('nb', MultinomialNB())])

In [25]:
classifier.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [26]:
classifier.score(x_test,y_test)

0.9874439461883409

In [27]:
classifier.predict(emails)

array([0, 1])

applying cross validation

In [39]:
from sklearn.model_selection import cross_val_score
messages = dataFrame.message.values
message_count = vector.transform(messages)
spam = dataFrame.spam
score=cross_val_score(model,message_count,spam,cv=5)
score

array([0.98116592, 0.9793722 , 0.97755835, 0.98384201, 0.97845601])

In [37]:
print(score.mean())

0.9800788980042026